body {
  background-color: black;
  color: white;
  text-align: center;
}

/*h1 {
  color: purple;
  text-align: center;
}
h2 {
  color: blue;
  text-align: center;
}
h3 {
  color: blue;
  text-align: center;
}
h4 {
  color: blue;
  text-align: center;
}
p {
  color: yellow;
  text-align: center;
}
li {
  color: red;
  text-align: center;
}
ul {
  color: red;
  align: center;
}
ol{
  color: red;
  align: center;
}*/

.yellow-background {
  background-color: yellow;
  color: purple;
}

.purple-background {
  background-color: purple;
  color:yellow;
}
